Tests: kernel-smoke-test, kernel-ztest
Architecture: !i386
Restrictions: needs-root, allow-stderr, isolation-machine
Depends: zfs-dkms [ amd64 arm64 ppc64el s390x ],
         zfs-initramfs [ amd64 arm64 ppc64el s390x ],
         zfs-test [ amd64 arm64 ppc64el s390x ],
         zfs-zed [ amd64 arm64 ppc64el s390x ],
         zfsutils-linux [ amd64 arm64 ppc64el s390x ],
         linux-headers-amd64 [amd64],
         linux-headers-arm64 [arm64],
         linux-headers-armmp [armhf],
         linux-headers-rpi [armel],
         linux-headers-powerpc64le [ppc64el],
         linux-headers-s390x [s390x],
         linux-headers-riscv64 [riscv64],
         @recommends@

Tests: zfs-test-suite-1, zfs-test-suite-2, zfs-test-suite-3, zfs-test-suite-4
Architecture: !i386
Restrictions: needs-root, allow-stderr, isolation-machine, breaks-testbed, flaky-and-slow
Depends: zfs-dkms [ amd64 arm64 ppc64el s390x ],
         zfs-initramfs [ amd64 arm64 ppc64el s390x ],
         zfs-test [ amd64 arm64 ppc64el s390x ],
         zfs-zed [ amd64 arm64 ppc64el s390x ],
         zfsutils-linux [ amd64 arm64 ppc64el s390x ],
         linux-headers-amd64 [amd64],
         linux-headers-arm64 [arm64],
         linux-headers-armmp [armhf],
         linux-headers-rpi [armel],
         linux-headers-powerpc64le [ppc64el],
         linux-headers-s390x [s390x],
         linux-headers-riscv64 [riscv64],
         @recommends@

Tests: binary-debs-modules, binary-debs-modules-udeb
Architecture: !i386
Restrictions: needs-root, allow-stderr
Depends: fakeroot,
         linux-headers-amd64 [amd64],
         linux-headers-arm64 [arm64],
         linux-headers-armmp [armhf],
         linux-headers-rpi [armel],
         linux-headers-powerpc64le [ppc64el],
         linux-headers-s390x [s390x],
         linux-headers-riscv64 [riscv64],
         @builddeps@
