#!/bin/sh

set -e

# Source debconf library
. /usr/share/debconf/confmodule

db_input critical zfs-dkms/note-incompatible-licenses || true
db_go

for kernel in /lib/modules/*; do
	[ -d "$kernel" ] || continue
	kernelver=${kernel#/lib/modules/}
	kernelconfig=

	for config in \
		"/boot/config-$kernelver" \
		"$kernel/build/.config" \
		"$kernel/source/.config"; do
		if [ -r "$config" ]; then
			kernelconfig=$config
			break
		fi
	done

	if echo "$kernelver" | grep -Eq '(^|[-+._])rt([-.+_]|$)'; then
		db_input critical zfs-dkms/experimental-on-rt-kernel || true
		db_go
		break
	fi

	if [ -n "$kernelconfig" ] \
		&& grep -Eq '^(CONFIG_PREEMPT_RT|CONFIG_PREEMPT_RT_FULL)=y$' "$kernelconfig"; then
		db_input critical zfs-dkms/experimental-on-rt-kernel || true
		db_go
		break
	fi
done

kernelbits=unknown
if [ -r /proc/kallsyms ]; then
	addrlen=$(head -1 /proc/kallsyms|awk '{print $1}'|wc -c)
	if [ $addrlen = 17 ]; then
		kernelbits=64
	elif [ $addrlen = 9 ]; then
		kernelbits=32
	fi
fi

if [ $kernelbits != 64 ]; then
	if [ $kernelbits = 32 ]; then
		db_input critical zfs-dkms/stop-build-for-32bit-kernel || true
		db_go || true
	else
		db_input critical zfs-dkms/stop-build-for-unknown-kernel || true
		db_go || true
	fi
fi

#DEBHELPER#
